 
 #menu-title {
     display: none;  
     font-size: 1.8em;
 }

 #menu-content {
     display: grid; 
     grid-template-rows: auto auto auto;
     grid-template-columns: auto auto;
     height: 50vh;
     margin: 5% auto auto auto;  
     width: 80%;
 }

 .item {
     font-size: 1.2em;
     line-height: 2.2em;
     margin: 0 auto auto auto;
     max-width: 80%;
     text-align: center;
 }

 .item-content {
     font-size: 1.5em;
 }

 .item-caption {
     font-size: 1em;
 }