/* css */ 

html,
body {
    height: 100%
}

#content {
    height: 100%;
}

body, #content {
    background-color: rgba(255, 255, 235);
    display: flex;
    flex-direction: column;
}

#page {
    height: 100%;
}

header,
main,
footer {
    display: flex;
}

header {
    align-items: center;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    height: 50%;
    justify-content: center;
    width: 50%;
}

nav>a {
    color: rgb(40, 40, 43);
    font-size: 2em;
    margin: 30px;
    text-decoration: none;
}

nav>a:hover {
    color: rgba(40, 40, 43, 0.5);
    transition: 300ms;
}

main {
    align-items: center;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    position: relative;
}

#container > img { 
    border: 1px solid rgb(22,22,29);
}

#img-caption {
    font-style: italic;
}

#container {
    align-items: center;
    display: flex; 
    flex-direction: column;
    height: 80%;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#container>p {
    font-size: 1.5em;
    line-height: 3em;
}

#container>img {
    max-width: 500px; 
    width: 70%; 
}

#title {
    font-family: 'Satisfy';
    font-size: 7em;
}

#caption {
    font-family: 'Lato', cursive;
    font-size: 1.5em;
}

footer {
    align-items: center;
    background-color: rgb(160, 82, 45);
    bottom: 0;
    height: 10%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

footer>p {
    font-size: 1.1em;
}
