/* css */ 
html {
    height: 100%; 
}

body, #content {
    background-color: rgba(255, 255, 235);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page {
    display: flex; 
    flex-direction: column;
    min-height: inherit;
}

header,
main,
footer {
    display: flex;
}

header {
    align-items: center;
    flex-direction: column;
    height: 30%;
    justify-content: center;
    width: 100%;
}

nav {
    display: flex;
    height: 40%;
    justify-content: center;
    width: 50%;
}

nav>a {
    color: rgb(40, 40, 43);
    font-size: 2em;
    margin: 30px;
    text-decoration: none;
}

nav>a:hover {
    color: rgba(40, 40, 43, 0.5);
    transition: 300ms;
}

main {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#container > img { 
    border: 1px solid rgb(22,22,29);
}

#img-caption {
    font-style: italic;
}

#container {
    align-items: center;
    display: flex; 
    flex-direction: column;
    height: max-content;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100%;
}

#container>p {
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
    max-width: 800px;
    width: 70%;
}

#container>img {
    max-width: 500px; 
    max-height: 400px;
    width:65%; 
}

#title {
    font-family: 'Satisfy';
    font-size: 7em;
}

#caption {
    font-family: 'Lato', cursive;
    font-size: 1.5em;
}

#title, #caption {
    top: 0.2em;
    position: relative; 
}

#story-container {
    height: max-content;
    max-width: 600px;
    width: 80%;
}

#story-text {
    font-size: 1.2em; 
}

#sincerely {
    font-size: 1.3em;
    margin-top: 1.1em;
}
 

footer {
    align-items: center;
    background-color: rgb(160, 82, 45);
    height: 10vh;
    justify-content: center;
    margin-top: auto;
    max-height: 80px;
    position: relative;
    width: 100%;
}

footer>p {
    font-size: 1.1em;
}
